<h4>
  <app-inline-edit
    placeholder="Title"
    [value]="book.title"
    (valueChange)="updateTitle($event)"
  >
    {{ book.title }}
  </app-inline-edit>
</h4>
<h5>
  <app-inline-edit
    placeholder="Author"
    [value]="book.author"
    (valueChange)="updateAuthor($event)"
  >
    {{ book.author }}
  </app-inline-edit>
</h5>
<div *ngIf="book.published">
  {{ book.published | date }}
</div>

<app-book-tag-list
  (createBookTag)="createTag($event)"
  (deleteBookTag)="deleteTag($event)"
  [tags]="book.tags"
></app-book-tag-list>

<div *ngFor="let read of book.bookReads">
  <app-book-read
    (delete)="deleteRead(read.id)"
    [bookRead]="read"
    (finish)="finishRead(read.id)"
  >
  </app-book-read>
</div>

<div *ngFor="let note of book.notes" class="card mb-3">
  <div class="card-body pb-1" [innerHTML]="note.renderedNotes"></div>
  <div class="card-footer d-flex flex-row justify-content-between">
    <div class="text-muted">
      {{ note.createdBy }}
    </div>
    <div class="text-muted">
      {{ note.userCreatedAt | date: "medium" }}
    </div>
  </div>
</div>

<div class="mt-2">
  <app-book-note-form (note)="createNote($event)"></app-book-note-form>
</div>

<div class="mt-4 btn-group">
  <button
    class="btn btn-danger"
    *ngIf="!deleteMode"
    (click)="deleteMode = true"
  >
    Delete
  </button>
  <button class="btn btn-danger" *ngIf="deleteMode" (click)="delete()">
    Confirm
  </button>
  <button
    class="btn btn-secondary"
    *ngIf="deleteMode"
    (click)="deleteMode = false"
  >
    Cancel
  </button>
</div>

<div *ngFor="let uploads of bookUploads$ | async">
  {{ uploads.filename }}
</div>
<div *ngIf="storageEnabled" class="form-group">
  <input
    class="form-control-file"
    #fileInput
    type="file"
    (change)="upload(fileInput.files[0])"
  />
</div>
