<ul class="list-group">
  <li
    class="list-group-item d-flex flex-row justify-content-between flex-wrap"
    [formGroup]="bookForm"
  >
    <div class="d-flex flex-grow-1">
      <input
        class="form-control"
        type="text"
        formControlName="title"
        placeholder="Title"
        (keydown.enter)="submit()"
      />
    </div>
    <div class="d-flex flex-grow-1">
      <input
        class="form-control"
        type="text"
        formControlName="authorName"
        placeholder="Author"
        [ngbTypeahead]="typeahead.bind(this)"
        (keydown.enter)="submit()"
      />
    </div>
    <div class="d-flex flex-grow-1">
      <input
        class="form-control"
        type="text"
        placeholder="yyyy-mm-dd"
        formControlName="published"
        ngbDatepicker
        #d="ngbDatepicker"
        (click)="d.open()"
        (keydown.enter)="submit()"
      />
    </div>
    <div
      class="d-flex flex-column justify-content-center align-content-center flex-fill flex-shrink-1"
    >
      <div>
        <button type="button" class="close" (click)="emitRemove()">
          <span>&times;</span>
        </button>
      </div>
    </div>
  </li>
</ul>
