<ul class="list-group">
  <li
    class="list-group-item d-flex flex-row justify-content-between flex-wrap"
    [formGroup]="bookForm"
  >
    <div class="d-flex flex-grow-1">
      <input
        class="form-control"
        type="text"
        formControlName="title"
        placeholder="Title"
        (keydown.enter)="submit()"
      />
    </div>
    <div class="d-flex flex-grow-1">
      <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
        <mat-option
          *ngFor="let option of authorTypeahead$ | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <input
        class="form-control"
        type="text"
        formControlName="authorName"
        placeholder="Author"
        [matAutocomplete]="auto"
        (keydown.enter)="submit()"
      />
    </div>
    <div class="d-flex flex-grow-1">
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <input
        matInput
        class="form-control datepicker-input"
        placeholder="Published"
        formControlName="published"
        [matDatepicker]="datepicker"
        (keydown.enter)="submit()"
      />
    </div>
    <div
      class="d-flex flex-column justify-content-center align-content-center flex-fill flex-shrink-1"
    >
      <div>
        <button
          class="btn btn-outline-secondary py-0 px-15 float-end"
          (click)="emitRemove()"
        >
          &times;
        </button>
      </div>
    </div>
  </li>
</ul>
