<ng-container [formGroup]="bookForm">
  <td>
    <input
      class="form-control"
      type="text"
      formControlName="title"
      placeholder="Title"
      (keydown.enter)="submit()"
    />
  </td>
  <td>
    <input
      class="form-control"
      type="text"
      formControlName="authorName"
      placeholder="Author"
      (keydown.enter)="submit()"
    />
  </td>
  <td>
    <input
      class="form-control"
      type="text"
      placeholder="yyyy-mm-dd"
      formControlName="published"
      ngbDatepicker
      #d="ngbDatepicker"
      (click)="d.open()"
      (keydown.enter)="submit()"
    />
  </td>
</ng-container>
