<mat-toolbar class="mb-3 flex-wrap">
  <div class="app-nav-header">
    Book Manager
  </div>
  <div>
    <a
      class="px-3 app-nav-link"
      routerLink="/books"
      routerLinkActive="text-dark"
      >Books</a
    >
  </div>
  <div class="ms-auto" *ngIf="!authenticated">
    <a
      routerLink="/login"
      class="app-nav-link"
      routerLinkActive="text-dark text-decoration-none"
      >Login</a
    >
  </div>
  <div class="ms-auto" *ngIf="authenticated">
    <button class="btn btn-link" (click)="logout()">
      Logout {{ username() }}
    </button>
  </div>
</mat-toolbar>
