<ng-container *ngIf="books$ | async as books">
  <app-book
    *ngFor="let book of books.content"
    [book]="book"
    (deleteBook)="deleteBook($event)"
  ></app-book>
  <ng-container *ngFor="let x of newBooks">
    <app-new-book-form
      *ngIf="!x.created; else createdBook"
      (newBook)="createBook(x, $event)"
      (remove)="removeBookForm(x)"
    ></app-new-book-form>
    <ng-template #createdBook>
      <app-book [book]="x.book" (deleteBook)="deleteBook($event)"></app-book>
    </ng-template>
  </ng-container>
  <ul class="list-group">
    <li class="list-group-item">
      <button class="close float-left" (click)="newBook()">+</button>
    </li>
  </ul>
</ng-container>
