<div class="form-group row mx-0 mb-3">
  <div class="col-lg-3 col-md-6 col-sm-12 px-0">
    <input
      [formControl]="searchControl"
      class="form-control col-lg-3 col-md-6 col-sm-12"
      placeholder="Title/Author"
    />
  </div>
  <h4 *ngIf="tag" class="ms-2 ms-md-3 col-auto p-0">
    <span class="badge bg-light text-dark" (click)="removeTagSearch()">
      {{ tag }}
      &times;
    </span>
  </h4>
  <div
    class="col-auto d-flex flex-row form-check-inline align-items-center align-content-center ms-1 ms-md-2 px-0 align-content-center"
  >
    <label class="form-check-label mb-0" for="unfinished">Unfinished</label>
    <input
      type="checkbox"
      class="form-check ms-1 ms-md-2 my-0"
      name="unfinished"
      id="unfinished"
      [formControl]="unfinishedControl"
    />
  </div>
</div>
<ng-container *ngIf="books">
  <ul class="list-group">
    <li class="list-group-item">
      <button
        class="btn btn-outline-secondary py-0 px-15 float-start"
        (click)="newBook()"
      >
        +
      </button>
    </li>
  </ul>
  <ng-container *ngFor="let newBook of newBooks">
    <app-new-book-form
      *ngIf="!newBook.created; else createdBook"
      (newBook)="createBook(newBook, $event)"
      (remove)="removeBookForm(newBook)"
    ></app-new-book-form>
    <ng-template #createdBook>
      <app-book
        [book]="newBook.book"
        (deleteBook)="deleteNewBook(newBook.book.id)"
        [showDelete]="true"
      ></app-book>
    </ng-template>
  </ng-container>
  <app-book
    *ngFor="let book of books.content"
    [book]="book"
    [showDelete]="false"
  ></app-book>
  <div class="d-flex flex-row justify-content-center">
    <mat-paginator
      [pageSize]="size"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      [pageIndex]="page"
      [length]="books.totalElements"
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>
</ng-container>
