<div class="form-group row mx-0">
  <input
    [formControl]="searchControl"
    class="form-control col-lg-3 col-md-6 col-sm-12"
    placeholder="Title"
  />
  <h4 *ngIf="tag" class="ml-2 ml-md-3">
    <span class="badge badge-light" (click)="removeTagSearch()">
      {{ tag }}
      &times;
    </span>
  </h4>
  <div
    class="d-flex flex-row form-check-inline ml-1 ml-md-2 align-content-center"
  >
    <label class="form-check-label" for="unfinished">Unfinished</label>
    <input
      type="checkbox"
      class="form-check ml-1 ml-md-2"
      name="unfinished"
      id="unfinished"
      [formControl]="unfinishedControl"
    />
  </div>
</div>
<ng-container *ngIf="books$ | async as books">
  <app-book
    *ngFor="let book of books.content"
    [book]="book"
    (deleteBook)="deleteBook($event)"
  ></app-book>
  <ng-container *ngFor="let x of newBooks">
    <app-new-book-form
      *ngIf="!x.created; else createdBook"
      (newBook)="createBook(x, $event)"
      (remove)="removeBookForm(x)"
    ></app-new-book-form>
    <ng-template #createdBook>
      <app-book [book]="x.book" (deleteBook)="deleteBook($event)"></app-book>
    </ng-template>
  </ng-container>
  <ul class="list-group">
    <li class="list-group-item">
      <button class="close float-left" (click)="newBook()">+</button>
    </li>
  </ul>
  <div class="d-flex flex-row justify-content-center">
    <ngb-pagination
      [collectionSize]="books.totalElements"
      [pageSize]="size"
      [page]="page + 1"
      (pageChange)="pageChange($event - 1)"
    ></ngb-pagination>
  </div>
</ng-container>
