<ul class="list-group">
  <li class="list-group-item d-flex flex-row justify-content-between">
    <div class="d-flex flex-row">
      <a [routerLink]="[book.id]">{{ book.title }}</a>
      <div class="ml-4">{{ book.author.name }}</div>
      <div class="ml-4" *ngIf="book.published != null">
        {{ book.published }}
      </div>
    </div>
    <div>
      <button class="close" (click)="delete()">&times;</button>
    </div>
  </li>
</ul>
<ul class="list-group list-group-flush ml-lg-5 ml-md-4 ml-sm-3">
  <li class="list-group-item" *ngFor="let read of book.bookReads">
    <app-book-read
      [bookRead]="read"
      (finish)="finishBookRead(read.id, book.id)"
      (delete)="deleteBookRead(read.id, book.id)"
    ></app-book-read>
  </li>
</ul>
